@import url('https://fonts.googleapis.com/css2?family=Six+Caps&family=Space+Grotesk:wght@500;700&display=swap');


:root {
  /* Fonts */
  --titleFont: 'Six Caps', sans-serif;
  --bodyFont: 'Space Grotesk', sans-serif;

  /* Colors */
  --yellow: #FCEC03;
  --black: #000000;
  --white: #FFFFFF;
}

body {
  margin: 0;
  font-family: var(--bodyFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--yellow);
}

h1 {
  font-family: var(--titleFont);
}

* {
  box-sizing: border-box;
}
